.form__button {
    background-color: teal;
    color: white;
    border: none;
}



.tasksListButton {
    width: 30px;
    height: 30px;
    padding: 0px;
    color: white;
    border: none;
}

.tasksListButton--toogle {
    background-color: teal;
}

.tasksListButton--reomve {
    background-color: crimson;
}