html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ddd;
}



.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width:767px){
    .form {
        grid-template-columns: 1fr;
    }
}

.newTask {
    padding: 10px;
    border: 1px solid #ddd;
}

.tasksList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 5px;
}

.taskDone {
    text-decoration: line-through;
}
